.CanChangeDiv {
  display: inline-block;
  margin: 2.5px;
  background-color:#FFFFFF;
  width:90px;
  height:90px;
  text-align:center;
  line-height:90px;
}

#MainBoardDiv {
  background-color:#000000;
  display:inline-block;
  float:left;
}


.BigColDiv {
  display: inline-block;
  margin: 2.5px;
  #background-color:#FF00FF
}

#SetValueWindow {
  position : fixed;
  background-color:#FF00FF;
}

.DontChangeDiv {
  background-color:#FFFF00;
  width:90px;
  height:90px;
  text-align:center;
  line-height:90px;
  display: inline-block;
  margin: 2.5px;
}

#TestDiv{
  display: inline-block;
  float:left;
}
